.asistentesList {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 10%);
    background-color: #f7f7f7;
    margin-top: 30px;
  }
  
  .asistentesListHeader {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    font-weight: bold;
    border-radius: 15px;
  }
  
  .column {
    flex-basis: 20%;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .asistente {
    display: flex;
    align-items: center;
  }
  
  .asistente:nth-child(even) {
    background-color: #f0f0f0;
  }
  